@tailwind preflight;

.w-80 {
  width: 20rem;
}

.w-96 {
  width: 24rem;
}

.w-112 {
  width: 28rem;
}

.w-128 {
  width: 32rem;
}

.pin-t-1 {
  top: -1px;
}

th,
td {
  /* text-align: center; */
  padding: 0.5rem;
}

@tailwind components;
@tailwind utilities;
